**/nbproject/private/
**/Build/
**/Distribution/
.DS_Store
/Components/CommonCore/Distribution/
/Components/CommonData/Build/
/Components/CommonData/Distribution/
/Components/CommonExamples/Build/
/Components/CommonExamples/Distribution/
/Components/FrameworkCore/Build/
/Components/FrameworkCore/Distribution/
/Components/LearningCore/Build/
/Components/FrameworkExamples/Build/
/Components/FrameworkLearning/Build/
/Components/FrameworkLearning/Distribution/
/Components/LearningCore/Distribution/
/Components/FrameworkExamples/Distribution/
/Components/LearningExamples/Build/
/Components/LearningExamples/Distribution/
/Components/TextCore/Build/
/Components/TextCore/Distribution/
/Components/TextExamples/Build/
/Components/TextExamples/Distribution/
/Build/
/Distribution/
/nbproject/private/
/Components/LearningCore/nbproject/private/
/Components/CommonData/nbproject/private/
/Components/LearningExamples/nbproject/private/
/Components/FrameworkExamples/nbproject/private/
/Components/TextCore/nbproject/private/
/Components/CommonExamples/nbproject/private/
/Components/FrameworkLearning/nbproject/private/
/Components/FrameworkCore/nbproject/private/
/Components/TextExamples/nbproject/private/
/Components/GraphCore/nbproject/private/
/Components/GraphExamples/nbproject/private/
/Components/CommonCore/nbproject/private/
